// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

html {
    scroll-behavior: smooth !important;
   }
body {
    font-size: 17px !important;
    color: $gray-900;
}
