<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>


<div class="cookie-disclaimer">
  <div class="cookie-close accept-cookie"><i class="fa fa-times"></i></div>
<div class="container">

<p>Utilizamos cookies propias para el correcto funcionamiento de la página web y de todos sus servicios,
  y de terceros para analizar el tráfico en nuestra página web. Si continua navegando, consideramos
  que acepta su uso. Puede cambiar la configuración u obtener más información. <a href="#">Info</a>
</p>

<div class="btn-group" role="group" aria-label="Basic example">
<a type="button" class="btn btn-secondary accept-cookie">Accept</a>
<!-- <a type="button" class="btn btn-secondary accept-cookie">Deny</a> -->
</div>

</div>
</div>

</html>


