---
layout: default
---


    <div class="container">
        <header class="blog-header py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
              
            </div>
            <div class="col-4 text-center">
              
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <a class="text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
              </a>
              
            </div>
          </div>
        </header>
        <br>
        <br>
        <div class="nav-scroller py-1 mb-2">
          <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted">Aprende hoy sobre:</a>
            <a class="p-2 text-muted" href="#">Idiomas</a>
            <a class="p-2 text-muted" href="#">Historia</a>
       
            <a class="p-2 text-muted" href="#">Design</a>
            <a class="p-2 text-muted" href="#">Culture</a>
            <a class="p-2 text-muted" href="#">Business</a>
            <a class="p-2 text-muted" href="#">Politics</a>
            <a class="p-2 text-muted" href="#">Opinion</a>
            <a class="p-2 text-muted" href="#">Science</a>
            <a class="p-2 text-muted" href="#">Health</a>
            <a class="p-2 text-muted" href="#">Style</a>
            <a class="p-2 text-muted" href="#">Travel</a> 
          </nav>
        </div>
  
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
          <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Selepedia Academy.</h1>
            <p class="lead my-3">Plataforma de aprendizaje interactivo donde combinamos teoría y ejercicios interactivos para ayudarte a aprender de manera efectiva. Nuestro sitio web ofrece una experiencia de aprendizaje atractiva y divertida para todos, independientemente de su edad y estilo de aprendizaje.</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Leer más...</a></p>
          </div>
        </div>
        

        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
        
                {{ content }}
        
              </div>
            </div>
          </div>