---
layout: default
---



<br><br><br>
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">{{ page.title }}</h1>
        {% if page.description %}
        <p class="lead text-muted">{{ page.description }}</p>
        {% endif %}

        <br>
            <div class="text-center">
            <p style="font-size:12px; margin-bottom:0 !important">Compartir</p>
            <a onclick="copyToClipboard()"><span class="glyphicon glyphicon-check fa-3x"> <i class="fas fa-share-alt text-muted p-md-1 my-1 me-2 icon-4x"  data-mdb-placement="top" title="Share"></i></span></a>
            
            </div>
           
      </div>
    </section>

    {{ content }}

</main>
