---
layout: page
title: Preguntes Resoltes Tema 5 el Desarrollismo Història Selectivitat
description: Preguntes Resoltes Etapa el Desarrollismo durant el Franquisme (1939-1975).

background: '/img/lowpoly7.jpg'  
---


<div class="list-group">
    <a href="" style="text-decoration:none; color: green;"  class="list-group-item list-group-item-success">
      Preguntes Tema 5 El Franquisme (1959-1975).</a>
    <br>

<h3 style="color:#00BFFF; font-size:16px;" class="text-center">El Desarrollismo en General</h3><div class="list-group">
{% for post in site.categories.Tema5z %}
        
    <a href="{{ post.url }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
            
{% endfor %}
</div><br>
<h3 style="color:#00BFFF; font-size:16px;" class="text-center">El Desarrollismo a Catalunya</h3><div class="list-group">
    {% for post in site.categories.Tema5za %}
            
        <a href="{{ post.url }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
                
    {% endfor %}
    </div><br>
    