---
layout: page
title: Preguntes Resoltes Tema 3 La Segona República Història Selectivitat
description: Preguntes Resoltes La Segona República (1931-1936).

background: '/img/lowpoly7.jpg' 
---


<div class="list-group">
    <a href="" style="text-decoration:none; color: green;"  class="list-group-item list-group-item-success">
      Preguntes Tema 3 La Segona República (1931-1936).</a>
    <br>

<h3 style="color:#00BFFF; font-size:16px;" class="text-center">Comparacions</h3><div class="list-group">
{% for post in site.categories.Tema3f %}
        
    <a href="{{ post.url }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
            
{% endfor %}
</div><br>
    <h3 style="color:#00BFFF; font-size:16px;" class="text-center">Bienni Reformista (1931-1933)</h3><div class="list-group">
{% for post in site.categories.Tema3a %}

    <a href="{{ post.url }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
    
{% endfor %}
</div><br>
<h3 style="color:#00BFFF; font-size:16px;" class="text-center">Bienni Conservador (1934-1936)</h3><div class="list-group">
{% for post in site.categories.Tema3b %}

    <a href="{{ post.url }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
    
{% endfor %}
</div><br>
<h3 style="color:#00BFFF; font-size:16px;" class="text-center">Front Popular (1936)</h3><div class="list-group">
{% for post in site.categories.Tema3d %}

    <a href="{{ post.url }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
    
{% endfor %}
</div><br>
<h3 style="color:#00BFFF; font-size:16px;" class="text-center">Segona República a Catalunya </h3><div class="list-group">
{% for post in site.categories.Tema3c %}

    <a href="{{ post.url }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
    
{% endfor %}
</div><br>
<h3 style="color:#00BFFF; font-size:16px;" class="text-center">Personatges importants Segona República</h3><div class="list-group">
{% for post in site.categories.Tema3e %}

    <a href="{{ post.url }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
    
{% endfor %}

    </div>